.bg-blue {
    background-color: #428DFF;
}

.color-blue {
    color: #428DFF;
}

.img-config {
    max-width: 30%;
    max-height: 20%;
}

.color-blue-light {
    color: #A4C2F7;
}
.navbar-brand img {
    height: 32px;
    margin-right: 10px;
    max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #A4C2F7
}

.btn-outline-secondary {
    color: #428DFF;
    border-color: #428DFF;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
    color: #fff;
    background-color: #428DFF !important;
    border-color: #428DFF !important;
}

a {
    color: #428DFF;
}

pre {
    padding: 1rem;
}

.list-group-item-config {
    color: #428DFF;
    border: 0;
    padding: 0.5rem;
    background-color: transparent;
    text-indent: 1rem;
}

.list-group-item-config:hover {
    color: #428DFF;
}

.header-anchor { font-size: 100%; visibility: hidden;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { visibility: visible}